@model IEnumerable<InternManagementData.Models.InternProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">TopUp List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">Id</th>
                    <th class="card-title text-center">Name</th>
                    <th class="card-title text-center">Address</th>
                    <th class="card-title text-center">Email</th>
                    <th class="card-title text-center">Phone</th>
                    <th class="card-title text-center">University</th>
                    <th class="card-title text-center">Major</th>
                    <th class="card-title text-center">MentorID</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblInterns">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="internModal" tabindex="-1" aria-labelledby="internModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="internModalLabel">TopUp Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="internModalContent"></div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(
            function () {
            loadData();

            $("#btSave").click(function () {
                var formData = new FormData();
                    formData.append("InternID", $("#InternID").val());

                    formData.append("InternName", $("#InternName").val());
                    formData.append("InternAddress", $("#InternAddress").val());
                    formData.append("InternEmail", $("#InternEmail").val());
                    formData.append("InternPhone", $("#InternPhone").val());
                    formData.append("University", $("#University").val());
                    formData.append("Major", $("#Major").val());
                  


                console.log(formData);
                var type = $('#Type').val();

                    if (type == "edit") {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Edit", "InternProfiles")',
                            //contentType: 'application/json;charset=utf-8',
                            //dataType: "json",
                            processData: false,
                            contentType: false,
                            data: formData,
                            success: function (result) {
                                //console.log(result);

                                if (result.status >= 1) {
                                    $('#internModal').modal('hide');
                                    loadData();
                                }
                                // alert(result.message);
                            },
                            error: function (xhr, error) {
                                //alert(xhr.responseText);
                                console.log(xhr);
                            }
                        });
                }


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "InternProfiles")',
                    //contentType: 'application/json;charset=utf-8',
                    //dataType: "json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        //console.log(result);

                        if (result.status >= 1) {
                                $('#internModal').modal('hide');
                            loadData();
                        }
                       // alert(result.message);
                    },
                    error: function (xhr, error) {
                        //alert(xhr.responseText);
                        console.log(xhr);
                    }
                });
            });

            ////////
        });

        function loadData() {
            $.ajax({
                url: '@Url.Action("GetAll", "InternProfiles")',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        //console.log(item);
                        html += '<tr>';
                        html += '<td>' + item.internId + '</td>';
                        html += '<td>' + item.internName + '</td>';
                        html += '<td>' + item.internAddress + '</td>';
                        html += '<td>' + item.internEmail + '</td>';
                        html += '<td>' + item.internPhone + '</td>';
                        html += '<td class="text-end">' + item.university + '</td>';
                        html += '<td class="text-end">' + item.major + '</td>';
                        html += '<td class="text-end">' + item.mentorId + '</td>';
                        html += '<td><a href="#" onclick="edit(\'' + item.internId + '\')">Edit</a> | <a href="#" onclick="delele(\'' + item.internId + '\')">Delete</a></td>';

                        html += '</tr>';
                    });
                    $('.tblInterns').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function add() {
            $("#internModalContent").html("");
            $("#internModalLabel").html("Add New");

            $.ajax({
                url: '@Url.Action("Create", "InternProfiles")',
                type: "GET",
                success: function (result) {
                    $("#internModalContent").html(result);
                    $('#internModal').modal('show');
                },
                error: function (message) {
                    alert(JSON.stringify(message));
                }
            });
        }
        function edit(id) {
            $("#internModalContent").html("");
            $("#internModalLabel").html("Edit Intern Profile");

            $.ajax({
                url: '@Url.Action("Edit", "InternProfiles")',
                type: "GET",
                data: { id: id },
                success: function (result) {
                    $("#internModalContent").html(result);
                    $('#internModal').modal('show');
                },
                error: function (message) {
                    alert("An error occurred: " + message.responseText);
                }
            });
        }
/*
         function edit(id) {
                    $("#internModalContent").html("");
                    $("#internModal").html("Add New");

                    var formData = new FormData();
                    formData.append("id", id);

                    $.ajax({
                        url: '@Url.Action("Edit", "InternProfiles")',
                        type: "POST",
                        //contentType: 'application/json;charset=utf-8',
                        //dataType: "json",
                        processData: false,
                        contentType: false,
                        data: formData,
                        success: function (result) {
                            $("#topUpModalContent").html(result);
                            $('#topUpModal').modal('show');
                        },
                        error: function (message) {
                            alert(message);
                        }
                    });
                }
*/
       

        function delele(id) {
            var result = confirm("Are you sure to delete?");
            if (result) {
                //alert(id);
                var formData = new FormData();
                formData.append("id", id);

                $.ajax({
                    url: '@Url.Action("Delete", "InternProfiles")',
                    type: "POST",
                    //contentType: 'application/json;charset=utf-8',
                    //dataType: "json",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (result) {
                        if (result.status >= 1) {
                            $('#topUpModal').modal('hide');
                            loadData();
                        }
                        alert(result.message);
                    },
                    error: function (message) {
                        alert(message);
                    }
                });
            }
        }

    </script>
}