@model IEnumerable<InternManagementData.Models.MentorProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MentorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MentorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MentorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MentorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MentorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
